{% extends 'Campany/_base.html' %} {% load static %} {% block content %}

<!-- Start: Page Banner -->
<section class="page-banner services-banner">
  <div class="container">
    <div class="banner-header">
      <h2>Blog Posts</h2>
      <span class="underline center"></span>
      <p class="lead">Proin ac eros pellentesque dolor pharetra tempo.</p>
    </div>
    <div class="breadcrumb">
      <ul>
        <li><a href="{% url 'index' %}">Home</a></li>
        <li>Blog</li>
      </ul>
    </div>
  </div>
</section>
<!-- End: Page Banner -->

<!-- Start: Blog Section -->

<div class="booksmedia-fullwidth">
  <ul>
    {% for EventPost in events %}
    <li>
      <figure>
        <a href="{% url 'booksmediagirdviewv2'%}">
          <img
            src="{{ EventPost.image.url }}"
            alt="Book"
            style="height: 500px"
          />
        </a>
        <figcaption>
          <header>
            <h4>
              <a href="{% url 'booksmediagirdviewv2'%}"
                >{{EventPost.title|safe}}</a
              >
            </h4>
            <p><strong>days:</strong> {{EventPost.days}}</p>
            <p><strong>created:</strong> {{EventPost.created}}</p>
            <p><strong>month:</strong> {{EventPost.month}}</p>
          </header>
          <p>{{EventPost.description|safe}}</p>
          <div class="actions">
            <ul>
              <li>
                <a
                  href="#"
                  target="_blank"
                  data-toggle="blog-tags"
                  data-placement="top"
                  title="Add TO CART"
                >
                  <i class="fa fa-shopping-cart"></i>
                </a>
              </li>
              <li>
                <a
                  href="#"
                  target="_blank"
                  data-toggle="blog-tags"
                  data-placement="top"
                  title="Like"
                >
                  <i class="fa fa-heart"></i>
                </a>
              </li>
              <li>
                <a
                  href="#"
                  target="_blank"
                  data-toggle="blog-tags"
                  data-placement="top"
                  title="Mail"
                >
                  <i class="fa fa-envelope"></i>
                </a>
              </li>
              <li>
                <a
                  href="#"
                  target="_blank"
                  data-toggle="blog-tags"
                  data-placement="top"
                  title="Search"
                >
                  <i class="fa fa-search"></i>
                </a>
              </li>
              <li>
                <a
                  href="#"
                  target="_blank"
                  data-toggle="blog-tags"
                  data-placement="top"
                  title="Print"
                >
                  <i class="fa fa-print"></i>
                </a>
              </li>
              <li>
                <a
                  href="#"
                  target="_blank"
                  data-toggle="blog-tags"
                  data-placement="top"
                  title="Share"
                >
                  <i class="fa fa-share-alt"></i>
                </a>
              </li>
            </ul>
          </div>
        </figcaption>
      </figure>
    </li>

    {% endfor%}
  </ul>
</div>

<!-- End: Blog Section -->

{% endblock %}
