{% extends 'customadmin/_base.html' %} {% load static %} {% block content %}

<style>
  .breadcrumb-item.active::before {
    content: none;
  }
</style>

{% if messages %} {% for m in messages %}
<div class="alert alert-success">{{ m }}</div>
{% endfor %} {% endif %}

<div class="d-md-flex align-items-center justify-content-between mb-4">
  <div>
    <ol class="breadcrumb fs-sm mb-1">
      <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
      <li class="breadcrumb-item active" aria-current="page">
        customer Information Management
      </li>
    </ol>
    <h4 class="main-title mb-0">customer Information Management</h4>
  </div>
  <div class="d-flex align-items-center gap-2 mt-3 mt-md-0">
    <!-- <button type="button" class="btn btn-white btn-icon">
      <i class="ri-share-line fs-18 lh-1"></i>
    </button>
    <button type="button" class="btn btn-white btn-icon">
      <i class="ri-printer-line fs-18 lh-1"></i>
    </button> -->
    <a href="{% url 'book_create' %}" class="btn btn-primary">
      <i class="ri-add-line fs-18 lh-1"></i> Add Book
    </a>
  </div>
</div>

<div class="row g-3">
  <div class="col-xl-6">
    <div class="card card-one card-ticket-earnings">
      <div class="card-body d-flex flex-column p-4">
        <h1 class="card-value mb-3 fs-40 ls--2">
          <span>Total- </span> {{ count }}
        </h1>
        <label class="card-label fw-semibold text-dark mb-1">Total h</label>
        <p class="w-75 fs-sm text-secondary mb-4">
          The total number of Books created by the admin.
        </p>
        <p class="mb-5">
          <a href="#" class="btn fs-sm btn-primary">View Statements</a>
        </p>

        <div
          class="d-flex gap-4 fs-sm mt-auto text-primary-dark lh-1 opacity-75"
        >
          <span><strong class="fw-semibold ff-numerals"></strong> </span>
          <span><strong class="fw-semibold ff-numerals"></strong> </span>
        </div>
      </div>
      <!-- card-body -->
      <div id="apexChart1" class="apex-chart-two d-flex align-items-end"></div>
    </div>
    <!-- card -->
  </div>
  <!-- col -->
  <div class="col-xl-6">
    <div class="row g-3">
      <div class="col-12">
        <div class="card card-one card-ticket-available">
          <div class="card-body p-4">
            <div class="d-flex justify-content-end">
              <div class="w-45">
                <h1 class="card-value fs-32 mb-2 ls--1"></h1>
                <label class="card-label fw-semibold text-dark mb-1"></label>
                <p class="text-secondary fs-sm mb-0"></p>
              </div>
            </div>
          </div>
          <!-- card-body -->
          <!-- <div id="apexChart2" class="apex-chart"></div> -->
        </div>
        <!-- card -->
      </div>
      <!-- col -->
      <div class="col-sm-6">
        <div class="card card-one card-ticket-sold">
          <div class="card-body p-4">
            <div class="d-flex flex-column align-items-center">
              <h1 class="card-value fs-32 mb-2 ls--1"></h1>
              <label class="card-label fw-semibold text-dark mb-1"></label>
              <p class="text-secondary text-center fs-sm mb-0">Customer</p>
            </div>
          </div>
          <!-- card-body -->
          <!-- <div id="apexChart3" class="apex-chart"></div> -->
        </div>
        <!-- card -->
      </div>
      <!-- col -->
      <div class="col-sm-6">
        <div class="card card-one card-ticket-sold">
          <div class="card-body p-4">
            <div class="d-flex flex-column align-items-center">
              <h1 class="card-value fs-32 mb-2 ls--1"></h1>
              <label class="card-label fw-semibold text-dark mb-1"
                >book Unsold</label
              >
              <p class="text-secondary text-center fs-sm mb-0"></p>
            </div>
          </div>
          <!-- card-body -->
          <!-- <div id="apexChart4" class="apex-chart"></div> -->
        </div>
        <!-- card -->
      </div>
      <!-- col -->
    </div>
  </div>
  <!-- col -->
  <div class="col-xl-8">
    <div class="row g-3">
      <!-- col -->
      <div class="col-12">
        <div class="card card-one">
          <div class="card-header">
            <h6 class="card-title">Customer Information list</h6>
            <nav class="nav nav-icon nav-icon-sm ms-auto">
              <a href="#" class="nav-link"><i class="ri-refresh-line"></i></a>
              <a href="#" class="nav-link"><i class="ri-more-2-fill"></i></a>
            </nav>
          </div>
          <!-- card-header -->
          <div class="card-body px-3 pt-2">
            <div class="table-responsive">
              <table class="table table-agent mb-0">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>First_name</th>
                    <th>Last_Name</th>
                    <th>email</th>
                    <th>phone_Number</th>
                    <th>number_of_books</th>
                    
                  
                  
                  </tr>
                </thead>
                <tbody>
                  {% for customer_info in customer_info %}
                  <tr>
                    


                    
                   <td>
                    <h6 class="mb-0">

                      
                      

                      <a
                        href="{% url 'customer_info_update' customer_info.id %}"
                        class="text-light"
                        >{{ customer_info.First_name }}</a
                      >
                    </h6>
                    </td>


                    <td>
                      <span class="ff-numerals">{{ customer_info.Last_Name }}</span>
                    </td>
                    


                    <td>
                      <span class="ff-numerals">{{ customer_info.Last_Name }}</span>
                    </td>
                    <td>
                      <span class="ff-numerals">{{ customer_info.email }}</span>
                    </td>
                    <td>
                      <span class="ff-numerals">{{ customer_info.phone_Number }}</span>
                    </td>
                    <td>
                      <span class="ff-numerals">{{ customer_info.number_of_books }}</span>
                    </td>

                    <!-- <td>
                      <span class="ff-numerals">{{ customer_info.book.title }}</span>
                    </td> -->
                    <!-- <td>
                      <span class="ff-numerals">{{ customer_info.number_of_books }}</span>
                    </td> -->


                    
                  
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            <!-- table-responsive -->
          </div>
          <!-- card-body -->
        </div>
        <!-- card -->
      </div>
      <!-- col -->
    </div>
    <!-- row -->
  </div>
  <!-- col -->
  
  <!-- col -->
  
  <!-- col -->
  
  <!-- col -->
</div>
<!-- row -->

{% endblock %}
