
{% load static %}
{% load static %}
<head>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Meta -->
  <meta name="description" content="">
  <meta name="author" content="Themepixels">

  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/img/favicon.png' %}">

  <title>DashByte - Premium Dashboard Template</title>

  <!-- Vendor CSS -->
  <link rel="stylesheet" href="{% static 'lib/remixicon/fonts/remixicon.css' %}">
  <link rel="stylesheet" href="{% static 'lib/apexcharts/apexcharts.css' %}">

  <!-- Template CSS -->
  <link rel="stylesheet" href="{% static 'assets/css/style.min.css' %}">
</head>
 